@namespace oxy "http://www.oxygenxml.com/extensions/author";
@namespace mods "http://www.loc.gov/mods/v3";

/* by Shaun Akhtar for the Dartmouth College Library, 
    copyright 2015-2018 Trustees of Dartmouth College */

* {
    display: block;
}

mods|mods {
    margin: 10px;
}

/* Top-level elements */

mods|mods > mods|titleInfo,
mods|mods > mods|name,
mods|mods > mods|typeOfResource,
mods|mods > mods|genre,
mods|mods > mods|originInfo,
mods|mods > mods|language,
mods|mods > mods|physicalDescription,
mods|mods > mods|abstract,
mods|mods > mods|tableOfContents,
mods|mods > mods|targetAudience,
mods|mods > mods|note,
mods|mods > mods|subject,
mods|mods > mods|classification,
mods|mods > mods|relatedItem,
mods|mods > mods|identifier,
mods|mods > mods|location,
mods|mods > mods|accessCondition,
mods|mods > mods|part,
mods|mods > mods|extension,
mods|mods > mods|recordInfo {
    border: 1px solid silver;
    padding-left: 10px;
    margin: 10px 0px;
}

/* Related-item elements */

mods|mods > mods|relatedItem {
    border: 1px dashed silver;
}

/* modsCollection formatting */

mods|mods ~ mods|mods:before {
    content: "   ––––––––––\A";
    color: #000096;
}